





.add-credits-input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}
.paybtn {
    --color: #4d92f9;
    font-family: inherit;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin-top: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    background: var(--color);
    color: white;
    font-weight: 900;
 
  }
  
  
.paybtn:hover{
    background:#347fef;
    border:2px solid #3685e6 ;

}
 
.add-credits-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 3s0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.add-credits-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.add-credits-tooltip{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}